---
layout: base.njk
title: Archive
permalink: /archive/
---
<section class="page-intro">
  <h1>Archive</h1>
  <p>Research notes, ordered by date.</p>
</section>
<section class="archive-list">
  {% for post in collections.posts %}
    <article class="post-row">
      <time datetime="{{ post.date | htmlDate }}">{{ post.date | readableDate }}</time>
      <div>
        <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
        {% if post.data.description %}<p>{{ post.data.description }}</p>{% endif %}
        <div class="post-topics">
          {% for topic in post.data.topics %}<a href="/topics/#{{ topic | topicSlug }}">{{ topic }}</a>{% endfor %}
        </div>
      </div>
    </article>
  {% endfor %}
</section>
